$cart-height: auto;
$cart-width: 375px;
$cart-max-height: 392px;
$cart-background-color: #7d7d7d;
$cart-border-color: #414141;

.cart {
    &-container {
        position: fixed;
        bottom: 0;
        right: 0;
    }

    &-content {
        width: $cart-width;
        height: $cart-height;
        max-height: $cart-max-height;
        background-color: $cart-background-color;
        border: 2px solid $cart-border-color;
        overflow-y: auto;
        position: relative;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0,0,0, .9);
            border-radius: 8px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            background-color: rgba(255, 255, 255, .8);
        }

        .item {
            border-bottom: 1px solid $cart-border-color;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            animation: blinker 1s linear infinite;
            animation-iteration-count: 1;
            margin: 0 6px;
            padding: 12px;

            & > div {
                font-size: 14px;
                margin-right: 10px;
                padding: 4px 0;
                &:last-child{
                    margin-right: 0;
                }
            }
        }

        .total {
            padding: 12px;
            font-size: 18px;
            position: sticky;
            bottom: 0;
            background-color: $cart-background-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .cart {
        &-content {
            width: $cart-width - 125;
            max-height: $cart-max-height - 100;
        }
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
